@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<ul style="margin-top: 2em">
    <li>Error is null: @(Error is null)</li>
    <li>Caught Exceptions: @CaughtExceptions</li>
    <li>Error was null when exception is caught: @ErrorWasNullWhenExceptionWasCaught</li>
</ul>

@code {
    private int currentCount;

    [CascadingParameter] public Error? Error { get; set; }

    private int ErrorWasNullWhenExceptionWasCaught { get; set; }

    private int CaughtExceptions { get; set; }

    private void IncrementCount()
    {
        try
        {
            currentCount++;

            if (currentCount > 5)
            {
                throw new InvalidOperationException("Current count is over five!");
            }
        }
        catch (Exception ex)
        {
            CaughtExceptions++;
            ErrorWasNullWhenExceptionWasCaught += Error is null ? 1 : 0;

            Error?.ProcessError(ex);
        }
    }
}